* {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  border: none;
}

.clock-label {
  font-size: 80px;
  font-family: "AdwaitaMono Nerd Font", sans-serif;
  color: rgba(255, 155, 24, 0.9);
  text-shadow: 0 0 20px rgba(255, 155,  24, 0.2);
}

