@import "defcolor.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
  min-width: 30px;
}

window#waybar {
  background: rgba(62, 58, 55, 0.8);
  color: @color11;
}

#idle_inhibitor,
#wireplumber,
#custom-uptime,
#cpu,
#memory,
#language,
#tray,
#custom-cava,
#custom-notification,
#clock,
#workspaces {
  box-shadow: 0 0 4px rgba(28, 28, 28, 0.6);
  background-color: @color0;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 2px;
  text-shadow: 0 0 4px @color11;
}

#idle_inhibitor {
  color: @color15;
  margin-top: 8;
}

#clock {
  padding: 4px 0;
  color: @color12;
  border-radius: 20%;
  text-shadow: 0 0 8px @color12;
}

#custom-uptime {
  padding: 5px 0;
  font-size: 10px;
}

#workspaces {
  border-radius: 10px;
  padding-right: 5px;
  padding-bottom: 4px;
  padding-top: 4px;
}

#workspaces button {
  color: @color15;
  text-shadow: 0 0 10 @color15;
  padding: 2px 0px;
}

#workspaces button:hover {
  color: @color11;
  background-color: @color0;
  text-shadow: 0 0 4px @color11;
}

#workspaces button.urgent {
  color: @color17;
  border-bottom: 2px solid @color17;
  text-shadow: 0 0 8px @color17;
}

#workspaces button.active {
  color: @color11;
  text-shadow: 0 0 10px @color11;
  border-left: 2px solid @color11;
}

#custom-notification {
  text-shadow: 0 0 10px @color11;
  font-size: 17px;
  background-color: @color0;
  border-radius: 10px;
  margin-bottom: 7px;
  padding-right: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
}

#tray {
  padding: 5px 0;
}

#tray menu {
  background-color: @color0;
  border: 2px solid @color11;
  border-radius: 8px;
  padding: 2px 2px;
}

tooltip {
  background-color: @color0;
  border: 1px solid @color11;
  padding: 6px;
  border-radius: 9px;
}

#language {
  padding: 3px 0;
  margin-top: 10;
  color: @color10;
  text-shadow: 0 0 8px @color10;
}

#memory {
    font-size: 10px;
    border: 1px solid #313244;
    border-radius: 15px;
    padding: 5px 0;
    min-width: 25px; 
    color: @color12;
    margin-bottom: 4;
    margin-top: 8;
}

#memory.5  { color: @color12; border-color: @color12; }
#memory.10 { color: @color12; border-color: @color12; }
#memory.15 { color: @color12; border-color: @color12; }

#memory.20 { color: @color14; border-color: @color14; }
#memory.25 { color: @color14; border-color: @color14; }
#memory.30 { color: @color14; border-color: @color14; }

#memory.35 { color: @color10; border-color: @color10; }
#memory.40 { color: @color10; border-color: @color10; }
#memory.45 { color: @color10; border-color: @color10; }

#memory.50 { color: @color11; border-color: @color11; }
#memory.55 { color: @color11; border-color: @color11; }
#memory.60 { color: @color11; border-color: @color11; }

#memory.65 { color: @color17; border-color: @color17; }
#memory.70 { color: @color17; border-color: @color17; }
#memory.75 { color: @color17; border-color: @color17; }

#memory.80 { color: @color9; border-color: @color9; }
#memory.85 { color: @color9; border-color: @color9; }
#memory.90 { color: @color9; border-color: @color9; }

#memory.95 { 
    color: @color9; 
    border-color: @color9; 
    text-shadow: 0 0 5px @color9; 
    box-shadow: inset 0 0 5px rgba(204, 36, 29, 0.4); 
}

#cpu {
  font-size: 10px;
  color: @color12; 
  padding: 0 0;
}

#cpu.s5   { color: @color12; text-shadow: 0 0 6px @color12; border-color: @color12; }
#cpu.s10  { color: @color12; text-shadow: 0 0 6px @color12; border-color: @color12; }
#cpu.s15  { color: @color12; text-shadow: 0 0 6px @color12; border-color: @color12; }
#cpu.s20  { color: @color14; text-shadow: 0 0 6px @color14; border-color: @color14; } 
#cpu.s25  { color: @color14; text-shadow: 0 0 6px @color14; border-color: @color14; }
#cpu.s30  { color: @color14; text-shadow: 0 0 6px @color14; border-color: @color14; }
#cpu.s35  { color: @color10; text-shadow: 0 0 6px @color10; border-color: @color10; }
#cpu.s40  { color: @color10; text-shadow: 0 0 6px @color10; border-color: @color10; }
#cpu.s45  { color: @color10; text-shadow: 0 0 6px @color10; border-color: @color10; }
#cpu.s50  { color: @color11; text-shadow: 0 0 6px @color11; border-color: @color11; }
#cpu.s55  { color: @color11; text-shadow: 0 0 6px @color11; border-color: @color11; } 
#cpu.s60  { color: @color11; text-shadow: 0 0 6px @color11; border-color: @color11; }
#cpu.s65  { color: @color17; text-shadow: 0 0 6px @color17; border-color: @color17; }
#cpu.s70  { color: @color17; text-shadow: 0 0 6px @color17; border-color: @color17; }
#cpu.s75  { color: @color17; text-shadow: 0 0 6px @color17; border-color: @color17; }
#cpu.s80  { color: @color9; text-shadow: 0 0 6px @color9; border-color: @color9; } 
#cpu.s85  { color: @color9; text-shadow: 0 0 6px @color9; border-color: @color9; }
#cpu.s90  { color: @color9; text-shadow: 0 0 6px @color9; border-color: @color9; }
#cpu.s95  { color: @color9; text-shadow: 0 0 8px @color9; border-color: @color9; } 
#cpu.s100 { color: @color9; text-shadow: 0 0 8px @color9; border-color: @color9; font-weight: bold; }

#custom-cava {
  font-size: 7;
  padding: 5px 0;
  background-color: @color0;
  border-radius: 10px;
  margin-bottom: 0;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
}

#wireplumber {
  padding: 5px 2px;
  border: 1px solid;
  transition: all 0.3s ease; 
  margin-bottom: 6px;
  color: @color12;
}

#wireplumber.s5   { color: @color12; text-shadow: 0 0 6px @color12; border-color: @color12; }
#wireplumber.s10  { color: @color12; text-shadow: 0 0 6px @color12; border-color: @color12; }
#wireplumber.s15  { color: @color12; text-shadow: 0 0 6px @color12; border-color: @color12; }
#wireplumber.s20  { color: @color14; text-shadow: 0 0 6px @color14; border-color: @color14; }
#wireplumber.s25  { color: @color14; text-shadow: 0 0 6px @color14; border-color: @color14; }
#wireplumber.s30  { color: @color14; text-shadow: 0 0 6px @color14; border-color: @color14; }
#wireplumber.s35  { color: @color10; text-shadow: 0 0 6px @color10; border-color: @color10; }
#wireplumber.s40  { color: @color10; text-shadow: 0 0 6px @color10; border-color: @color10; }
#wireplumber.s45  { color: @color10; text-shadow: 0 0 6px @color10; border-color: @color10; }
#wireplumber.s50  { color: @color11; text-shadow: 0 0 6px @color11; border-color: @color11; }
#wireplumber.s55  { color: @color11; text-shadow: 0 0 6px @color11; border-color: @color11; }
#wireplumber.s60  { color: @color11; text-shadow: 0 0 6px @color11; border-color: @color11; }
#wireplumber.s65  { color: @color17; text-shadow: 0 0 6px @color17; border-color: @color17; }
#wireplumber.s70  { color: @color17; text-shadow: 0 0 6px @color17; border-color: @color17; }
#wireplumber.s75  { color: @color17; text-shadow: 0 0 6px @color17; border-color: @color17; }
#wireplumber.s80  { color: @color9; text-shadow: 0 0 6px @color9; border-color: @color9; }
#wireplumber.s85  { color: @color9; text-shadow: 0 0 6px @color9; border-color: @color9; }
#wireplumber.s90  { color: @color9; text-shadow: 0 0 8px @color9; border-color: @color9; }
#wireplumber.s95  { color: @color9; text-shadow: 0 0 8px @color9; border-color: @color9; }
#wireplumber.s100 { color: @color9; text-shadow: 0 0 8px @color9; font-weight: bold; border-color: @color9; font-size: 12px; }

/* Состояние Muted */
#wireplumber.muted {
    color: @color7;
    background: @color0;
    text-shadow: none;
    border-color: @color7;
}
